<!--<div> I'm the first class practise!</div>-->
<!--<div style="width: 1024px; height: 768px; background-color: green">-->
  <!--<div style="width: 400px; height: 300px; background-color: white; top: 250px; left:300px; position: relative">-->
    <!--<div style="top: 70px; left: 100px; position: relative">-->
      <!--<div style="margin-bottom: 20px"><input placeholder="username"></div>-->
      <!--<div style="margin-bottom: 20px"><input type="password" placeholder="password"></div>-->
      <!--<div style="margin-bottom: 20px"><button class="btn-primary" style="width: 195px">Login</button></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div> I'm the first class practise!</div>-->
<div class="main_container">
  <div class="login_container">
      <div class="login_box">
        <input placeholder="username" class="login_input">
      </div>
      <div class="login_box">
        <input type="password" placeholder="password" class="login_input">
      </div>
      <div class="login_box">
        <button class="login_button">Login</button>
      </div>
      <div class="link_container">
        <span class="login_text"> Not Registered? </span>
        <a class="login_link" href="www.twitter.com"> Create an account </a>
      </div>
  </div>
</div>
